apiVersion: apps/v1
kind: Deployment
metadata:
  name: anchore-engine-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: anchore-engine-operator
  template:
    metadata:
      labels:
        name: anchore-engine-operator
    spec:
      serviceAccountName: anchore-engine-operator
      containers:
        - name: anchore-engine-operator
          image: docker.io/anchore/engine-operator:latest
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "anchore-engine-operator"